
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #e9e9e9; 
  }
  
  .campos-texto h1 {
    color: #333;
    font-size: 2rem;
    margin-top: 8%;
  }
  
  .campos-texto p {
    color: #666;
    font-size: 1em;
    max-width: 600px;
    text-align: center;
  }
  
  .campo-imagem img {
    max-width: 90%;
    height: auto;
  }
  
  .link-button {
    background-color: #7140FD;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    text-decoration: none; 
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s; 
  }
  
  .link-button:hover {
    background-color: #572acf; 
  }
  
  @media (max-width: 768px) { 
    .campos-texto h1 {
      font-size: 1.75rem; 
      margin-top: 5%; 
    }
    
    .campos-texto p {
      font-size: 0.9rem; 
      padding: 0 20px; 
    }
  
    .campo-imagem img {
      max-width: 100%; 
    }
    
    .link-button {
      padding: 10px 40px; 
    }
  }
  
  @media (max-width: 480px) { 
    .campos-texto h1 {
      font-size: 1rem; 
    }
    
    .campos-texto p {
      font-size: 0.8rem; 
      padding: 0 10px; 
    }
  
    .campo-imagem img {
      max-width: 80%; 
    }
  
    .link-button {
      padding: 10px 20px; 
      font-size: 0.9rem; 
    }
  }